@charset "UTF-8";

body {
    background-color: lightgray;
}

.blog-post-card {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.post-img {
    width: 300px;
    border-bottom: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-content {
    padding: 20px;
}

.post-title, .post-excerpt {
    margin: 10px;
    color: black;
}

.read-more {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.read-more:hover {
    background-color: rgb(116, 116, 116);
}