@charset "UTF-8";

body {
    background-color: #f4f4f4;
}

.color-grid {
    text-align: center;
}

h1 {
    text-align: center;
}
.color-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

.color1 {
    background-color: #0000ff;
}

.color2 {
    background-color: rgb(255, 0, 0)
}

.color3 {
    background-color: yellow;
}

.color4 {
    background-color: hsl(120,100%, 50%);
}

.color5 {
    background-color: orange;
}

.color6 {
    background-color: purple;
}