@charset "UTF-8";

body {
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    text-align: center;
    width: 80vw;
}

hr {
    width: 50%;
}

section {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 0 0 10px 10px;
    vertical-align: center;
}