@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#playing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.left {
    align-self: flex-start;
}

.middle {
    align-self: center;
}

.right {
    align-self: flex-end;
}

.red {
    color: red;
}

.rotate {
    transform: rotate(180deg);
}
